<!doctype html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

{% block body %} {% endblock %}

<script src="{{url_for('static', filename='js.js')}}"></script>
